BasedOnStyle: Mozilla

IncludeBlocks: Merge
IncludeCategories: [{Regex: '.*', Priority: 0}]
SortIncludes: true

MacroBlockBegin: '^CXXTRACE_BEGIN_PREEMPTABLE$'
MacroBlockEnd: '^CXXTRACE_END_PREEMPTABLE$'
